* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}
:root {
  --gold: #eec687;            /* seu tom */
  --deep-blue: #233248;       /* seu tom */
  --soft-blue: #3e6891ff;
  --muted-blue: #506575ff;
  --white: #ffffff;
  --blur-amount: 70px;
  --font-link:#eec687;
  --Bg:#233248;
  --font-dourado-claro:#f5d99c;
  --font-frio-moderno:#a4afc2;
}

html, body {
  height: 100%;
  scroll-behavior:smooth;
  scroll-padding-top: 120px; /* para não cortar o topo atrás do header */
  
}

body {
  font-family: "Libre Baskerville", serif;
  min-height:100vh;
  color:#fff;
  background: #0f1720;
  overflow-x:hidden;
 
}
/* bg container fixo (sempre por trás) */
#bg-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  display: absolute;
  width: 100%;
  height: 100%; 
}

video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.mascara {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  position: fixed;
  top: 0;
}


header {
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:15px 24px;
}

.logo-chiquetosa{ 
  width:200px; 
  height:auto; 
}

.links{ 
  display:flex; 
  gap:70px; 
  font-size:30px; 
  color:var(--font-link); 
}

.links a{ 
  color:var(--font-link); 
  text-decoration:none; 
}

.links a:hover{ 
  color:var(--font-dourado-claro); 
  transform:translateY(-6px); 
  transition:0.4s; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Ajuste para centralizar o conteúdo na tela */
  height: calc(100vh - 150px);
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

/* conteúdo sobre o background */
.boxText{ 
  max-width:800px; /* Ajuste para melhor controle */
  color:var(--font-dourado-claro);
  padding-top: 10px;
  margin-left: 10px;
}

.boxText h1{ 
  font-size:68px; 
  margin-bottom:18px; 
  line-height:1.05; 
  color:var(--font-dourado-claro); 
  padding-bottom: 20px;
}

.boxText p{ 
  color:var(--font-frio-moderno); 
  font-size:24px; 
  line-height: 1.6;
}

/* imagem da mulher */
.mulher{ 
  width:30vw; 
   /* Limite máximo */
  height:auto; 
  z-index:2; 
}

.profissionais {
  margin: 20vh 50vh 100vh;
}

.profissionais h1{
  font-size: 35px;
  font-weight: 900;
}

.prof-cards{
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type:mandatory;
  padding: 10px 0;
  scroll-behavior: smooth;
  cursor: pointer; 
}



.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.carousel-track {
  display: flex;
  gap: 30px;
  transition: transform 1s ease-in-out;
}

.carousel figure {
  min-width: 260px;
  flex: 0 0 auto;
  scroll-snap-align: center;
}

/* Botões */
.carousel-btn {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background:transparent;
  border: none;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 8px;
  z-index: 10;
  transition: 0.3s;
}

.carousel-btn:hover {
  background: #ffffff6c;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Bolinhas */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.carousel-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #aaa;
  cursor: pointer;
  transition: 0.3s;
}

.carousel-dots button.active {
  background: var(--gold);
  transform: scale(1.3);
}


figure {
  position: relative;
    width: 100%;
    padding: 0;
    margin: 2px;
    background: #ffffff10;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
    perspective: 800px;

}



.prof-cards img{
  width: 500px;
  height: 475px;
  border-radius: 8px;
  margin: 25px 10px 30px 10px;
}

figcaption {
  font-size: 44px;
  margin-top: 10px;
}


/* footer */
footer{
  background:var(--Bg);
  font-size: 24px;
  
  top: 100vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
  gap:16px;
  color:var(--font-link);
}
footer a{ color:var(--font-link); text-decoration:none; }
footer a img { vertical-align: middle; margin-right: 5px; }




/* responsivo rápido */
@media (max-width: 1024px) {
  /* Altera para empilhamento vertical em telas menores */
  .container { flex-direction: column; gap: 32px; padding: 36px; height: auto; min-height: calc(100vh - 150px);}
  .mulher { width: 80%; max-width: 320px; }
  .boxText { max-width: 100%; text-align: center; }
  .boxText h1 { font-size: 36px; text-align: center;}
  .links { display: none; } /* Esconde links do header no mobile */
  
  /* Ajusta o footer */
  footer { flex-wrap: wrap; justify-content: center; gap: 10px; }
}